<!-- Footer -->
<footer class="text-center text-lg-start bg-dark text-muted">
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >
    <!--<div class="me-5 d-none d-lg-block">
      <span>Conecta con nosotros en redes sociales:</span>
    </div>-->

    <div>
      <h6 class="text-uppercase fw-bold mb-4">Redes Sociales</h6>
      <br />

      <a
        href="https://www.facebook.com/juanitovenenoestudiodigital"
        target="_blank"
        class="me-4 text-reset"
      >
        <i class="fab fa-facebook-f"></i>
      </a>
      <a
        href="https://twitter.com/VenenoDigital"
        target="_blank"
        class="me-4 text-reset"
      >
        <i class="fa-brands fa-x-twitter"></i>
      </a>
      <a
        href="https://www.youtube.com/channel/UC8UhdMAKJX56O2PY8kzBIlw"
        target="_blank"
        class="me-4 text-reset"
      >
        <i class="fa-brands fa-youtube"></i>
      </a>
      <a
        href="https://www.instagram.com/juanitovenenoestudio/"
        target="_blank"
        class="me-4 text-reset"
      >
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://www.twitch.tv/yehiibhii" class="me-4 text-reset">
        <i class="fa-brands fa-twitch"></i>
      </a>
      <a
        href="https://open.spotify.com/show/02JMGEAGGkQVFqkngYb4gE?si=f9c1e9285d5c4866"
        target="_blank"
        class="me-4 text-reset"
      >
        <i class="fa-brands fa-spotify"></i>
      </a>
    </div>
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Juanito Veneno Estudio
          </h6>
          <p>
            Desarrollamos Herramientas para ofertar tus productos y/o servicios.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Soporte</h6>
          <p>
            <a href="https://yahiibhii.store" class="text-reset" target="_blank"
              >Tienda</a
            >
          </p>
          <p>
            <a
              href="https://dannyveneno.website/"
              class="text-reset"
              target="_blank"
              >Blog</a
            >
          </p>
          <p>
            <a href="https://dannyveneno.tech" class="text-reset"
              >Tarjeta De Presentación</a
            >
          </p>
          <!--<p>
            <a href="#!" class="text-reset">Laravel</a>
          </p>-->
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Legal</h6>
          <p>
            <a href="#!" class="text-reset">Aviso de Privacidad</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Terminos y Condiciones</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Bolsa De Trabajo</a>
          </p>
          <!--<p>
            <a href="#!" class="text-reset">Help</a>
          </p>-->
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contacto</h6>

          <p>
            <i class="fas fa-envelope me-3"></i>
            holadhan@proton.me
          </p>
          <p><i class="fas fa-phone me-3"></i> 56 1073-1990</p>

          <!--<iframe
            width="424"
            height="238"
            src="https://www.youtube.com/embed/MDl2sty13Hc"
            title="Bienvenida"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          ></iframe>-->
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <div class="text-center p-4">
    © 2024 Copyright:
    <a class="text-reset fw-bold" href="https://dannyveneno.tech"
      >Danny Veneno</a
    >
  </div>
</footer>
<!-- Footer -->
